TEMPORAL_HOST=localhost:7233
TEMPORAL_NAMESPACE=cronjobs
TEMPORAL_TASK_QUEUE=smartass-checker
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_IDS=["123456789"]
SMARTASS_URL=https://smartass.club/lviv-myrnoho/calendar
STATE_FILE=~/.smartass_state.json
METRICS_PORT=9090
